<!DOCTYPE html>
<html>
<body>
	<h1>Connex.us</h1>
	<table cellspacing="15">
		<tr>
			<td><a href="management">Manage</a></td>
			<th>|</th>
			<td><a href="createstream">Create</a></td>
			<th>|</th>
			<td style="background-color:gray"><a href="viewallstream">View</a></td>
			<th>|</th>
			<td><a href="search">Search</a></td>
			<th>|</th>
			<td><a href="trending">Trending</a></td>
			<th>|</th>
			<td><a href="social">Social</a></td>
		</tr>
	</table>
	<hr size="5" />
  	<h3>View A Single stream</h3>
	<table border="1" style="width:100%">
		<tr>
			<td>This line is for the pictures in this stream</td>
		</tr>
	</table>
	<form action="%s" ,method="post">
		<input type="submit" value="More Pictures">
	</form>
	<hr>
	<form action="/upload" method="post" enctype="multipart/form-data">
		Upload File: 
		<input type="file"  name="file" >
		<br> 
		<input type="submit" name="submit" value="Submit">
	</form>
</body>
</html>